# TileDB-VCF Quickstart on TileDB Cloud

TileDB-VCF can be used with TileDB Cloud to provide collaborative oppertunities and serverless computations.

In this quickstart we will walk through an example reading from a dataset into pandas dataframe

In [7]:
# Import libraries
import tiledbvcf, tiledb, tiledb.cloud

First we will create the configuration and open the TileDBVCFDataset in read mode

In [8]:
# Set config to the cloud config so credentials are passed in
cfg = tiledbvcf.ReadConfig(tiledb_config=tiledb.cloud.Config())

# Access the VCF dataset using the TileDB Cloud URI
ds = tiledbvcf.TileDBVCFDataset('tiledb://TileDB-Inc/vcf-samples-20', mode='r', cfg=cfg)

### Reading into Pandas DataFrame

Using the read command we are able to read directly into a pandas dataframe

In [9]:
df = ds.read(attrs=['sample_name', 'pos_start', 'pos_end', 'alleles'], regions=['chr1:10000-11000'], samples=['v2-tJjMfKyL', 'v2-Mcwmkqnx'])
df

    sample_name  pos_start  pos_end         alleles
0   v2-tJjMfKyL          1    10256  [N, <NON_REF>]
1   v2-Mcwmkqnx          1    10615  [N, <NON_REF>]
2   v2-tJjMfKyL      10257    10258  [A, <NON_REF>]
3   v2-tJjMfKyL      10259    10638  [C, <NON_REF>]
4   v2-tJjMfKyL      10639    10668  [G, <NON_REF>]
5   v2-tJjMfKyL      10669    10914  [C, <NON_REF>]
6   v2-tJjMfKyL      10915    10921  [G, <NON_REF>]
7   v2-tJjMfKyL      10922    10986  [G, <NON_REF>]
8   v2-tJjMfKyL      10987    10987  [A, <NON_REF>]
9   v2-tJjMfKyL      10988    10993  [G, <NON_REF>]
10  v2-tJjMfKyL      10994    11014  [G, <NON_REF>]
11  v2-Mcwmkqnx      10616    12801  [C, <NON_REF>]